/* Container holding the image and the text */
.thumbnail {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
